.info-text {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  color: white;

  strong {
    font-size: 3rem;
  }
}

.progress {
  margin-top: 5rem;
  &-text {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
}

.speed {
  font-size: 2rem;
}

.driver {
  font-size: 1.5rem;
  margin-top: 2rem;
  &-info {
    display: flex;
    box-shadow: 0px 4px 10px rgb(51, 51, 51);
    margin-top: 1rem;
  }
  &-profile {
    display: flex;
    flex-direction: column;
    img {
      border-radius: 50%;
    }
  }
  &-text {
  }
}
