.driver-detail {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  .detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    .header-left {
      display: flex;
      align-items: center;
      p {
        margin-left: 0.5rem;
      }
    }
  }
  .detail-image {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    height: 100%;
    align-items: center;

    img {
      width: 140px;
      height: 210px;
    }

    .speed {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem 0 5rem 0;
      height: 100%;
      p {
        font-size: 1rem;
        strong {
          font-size: 2rem;
        }
      }
      .progress-bar {
        margin: 1rem 0 1rem 0;
        height: 100%;
        width: 10px;
        background-color: #6b6b6b;
        .actual-bar {
          width: 100%;
          background-color: #c4c4c4;
        }
      }
    }
  }

  .detail-info {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 40px 40px;
    .info-cell {
      display: flex;
      flex-direction: column;
      p {
        font-size: 1rem;
        strong {
          font-size: 1.5rem;
        }
      }
    }
  }
}
