.driver-list {
  padding: 2rem;
  overflow: scroll;

  .driver-row {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-bottom: 0.1rem solid #c4c4c4;
  }
}
